.contact-preview {
  background-color: #e91e620b;
  box-shadow: 2px 2px 11px rgb(43 17 74 / 17%);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
  justify-content: space-between;
  color: white;
  font-size: 1rem;
  border-radius: 15px;
  
  border: solid $clr5 1px;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(56,161,110,1) 100%);

  .contact-link {
    height: 100%;
  }
  .contact-image {
    height: 100px;
    padding-top: 8px;
    margin-bottom: 12px;
    
  }

  .info {
    padding: 5px;
    flex-direction: column;
    
  }
}
.actions {
  justify-content: space-between;
  padding-bottom: 5px;
  button {
    width: 52px;
    margin-inline: 16px;
    border: 1px $clr5 solid;
    border-radius: 5px;
  }
  //         flex-basis: 25%;
  //         padding: 10px;
  //         background-color: #000000c9;
  //         display: flex;
  //         align-items: center;
  //         transform: translateY(100%);
  //         transition: transform 0.2s;
}

//     &:hover .actions {
//         transform: translateY(0);
//     }
// }
